.header {
  text-align: center;
  font-size: 3rem;
  color: #3f3d56;
  margin-bottom: 3.5rem;
  font-family: "Karla", sans-serif;
  opacity: 80%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.svgContent {
  width: 20%;
  height: auto;
  background-color: #fdfdfd;
  border: 3px solid #efefef;
  padding: 1rem;
  margin: 10px;
  border-radius: 8px;
}
