.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  animation: message-animation 2s alternate infinite;
}

@keyframes message-animation {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}
